@charset "UTF-8";
#menu {
	background-image: url(../images/menu-background.png);
	background-repeat: repeat-x;
	height: 42px;
	width: auto;
	padding-top: 5px;
}
#menu table {
	color: rgba(101,101,101,1.00);
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align: left;
	font-size: medium;
	text-decoration: none;
}
