@charset "UTF-8";
#table_w_img {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: rgba(101,101,101,1);
	text-align: center;
}
